.galery {
  max-width: 33%;
  /* margin: auto; */
  padding: 0.3rem;
}
.galery img {
  width: 100%;
  border: 2px solid var(--c-s);
  opacity: 0.7;
}
.galery img:hover {
transition: ease-in-out 0.4s;
  opacity: 1;
}
.food-description {
  font-family: var(--f-a);
  font-size: 1rem;
}
.food {
  font-family: var(--f-b), serif;
  color: var(--c-s);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-container .galery {
  flex-basis: calc(33.33% - 1rem);
  margin: 0.5rem;
}
