.galery {
  max-width: 33%;
  margin: auto;
  padding: 0.3rem;
}
.galery img {
  width: 100%;
  border: 2px solid var(--c-s);
  opacity: 0.7;
}
.galery img:hover {
  transition: ease-in-out 0.4s;
  opacity: 1;
}
.food-description {
  font-family: var(--f-a);
  font-size: 1rem;
}
.food {
  font-family: var(--f-b), serif;
  color: var(--c-s);
font-size: 1.5rem;
text-transform: capitalize;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-container .galery {
  flex-basis: calc(33.33% - 1rem);
  margin: 0.5rem;
}
.product-and-price-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.text-container {
  max-height: 20rem;
}
@media screen and (max-width: 800px) {
  .gallery-container {
    display: block;
  }
  .galery {
    margin: auto;
    max-width: 100%;
  }
}
