.modal-overlay,
.modal,
.modal form {
  justify-content: center;
  align-items: center;
}
.modal,
.modal form {
  display: flex;
  flex-direction: column;
}
.modal-overlay {
  position: fixed;
  z-index: 4;
  width: 500px;
  height: 500px;
  border-radius: 1rem;
  border: 0.3rem solid var(--c-s);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.modal {
  color: white;
}

.modal input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--c-s);
  color: var(--c-s);
}

.modal input:focus {
  outline: none;
}
.close-button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  color: var(--c-s);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.5rem;
  left: 0.3rem;
}
