.modal-overlay,
.modal,
.modal form {
  justify-content: center;
  align-items: center;
}
.modal,
.modal form {
  display: flex;
  flex-direction: column;
}
.modal-overlay {
  position: fixed;
  z-index: 4;
  width: 500px;
  height: 500px;
  border: 0.3rem solid var(--c-s);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.modal {
  color: white;
}

.modal input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--c-s);
  color: var(--c-s);
}

.modal input:focus {
  outline: none;
}
.close-button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  color: var(--c-m);
  background-color: var(--c-s);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.6rem;
  left: 0.3rem;
}
.auth-button {
  width: 100%;
}
.hide {
  display: none;
}
.password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.password-container input {
  width: 84%;
}
.password-icon:hover {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .modal-overlay {
    width: 90%;
  }
}
