footer {
  background-color: var(--c-m);
  width: 100vw;
}
.footer-container {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: flex-start;
  padding: 1rem 0;
  height: 20rem;
  background-color: var(--c-m);
}
.contact,
.social-media,
.location,
.schedule {
  color: var(--c-q);
  display: flex;
  flex-basis: 25%;
  height: 100%;
  text-align: left;
  flex-direction: column;
  border-right: 2px solid var(--c-s);
}
.contact h3,
.social-media h3,
.location h3,
.schedule h3 {
  margin-bottom: 1rem;
  font-family: var(--f-b);
  font-size: 2rem;
  color: var(--c-s);
}

.contact li,
.schedule li,
.social-media li {
  margin: auto 1rem 0.8rem 1rem;
}
.location p{
  margin: auto 1rem;
}
.social-media a {
  display: flex;
  justify-content: flex-start;
  color: var(--c-q);
}
.social-media a:hover {
  color: var(--c-s);
}
.location {
  text-align: center;
}
.schedule {
  border-right: none;
}

.schedule li {
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .social-media,
  .location,
  .schedule {
    width: 100%;
    border-right: none;
  }
}
