.content-comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user-comments {
  width: 30%;
  margin: auto;
  padding: 0.3rem;
}

.name-and-photo-container img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.name-and-photo-container h3 {
  font-family: var(--f-b), serif;
  font-size: 1.2rem;
  color: var(--c-s);
}
.comment-container p {
  color: var(--c-q);
  font-family: var(--f-s), serif;
}

.stars {
  color: var(--c-s);
  align-items: flex-start;
}

.photo-score-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .content-comments {
    display: block;
  }
  .user-comments {
    width: 100%;
    margin: 1rem 2%;
  }
}
